@import 'config';

// include reset first
@import-normalize;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background: $site-bg;
  font-family: $body-font;
  line-height: 1.4;
}

.section {
  width: 100%;

  .container {
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;

    &.full-height {
      min-height: 100vh;
    }

    &.flex-align-center {
      display: flex;
      align-items: center;
    }
  }
}
