.testimonial-slider {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  background-image: url('../../images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left bottom;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $small) {
    font-size: 24px;
    background-size: 40%;
  }

  @media screen and (min-width: $medium) {
    font-size: 28px;
  }

  @media screen and (min-width: $large) {
    font-size: 32px;
  }

  .testimonial-slides {
    display: flex;
    height: inherit;
    overflow-x: hidden;

    .testimonial-slide {
      height: inherit;
      flex: 1 0 100%;

      .slide-content-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px;
        height: inherit;

        @media screen and (min-width: $small) {
          flex-direction: row;
          padding: 50px 70px;
        }

        @media screen and (min-width: $medium) {
          padding: 50px 70px;
        }

        .avatar-container {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          flex: 1 0 100%;
          line-height: 0;
          margin-bottom: 20px;

          @media screen and (min-width: $small) {
            flex: 1 0 58%;
            margin-bottom: 0;
          }

          .avatar-bg {
            position: relative;
            max-width: 100%;
            width: 100%;
            height: auto;
          }

          .quote-avatar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -49%);
            width: 77%;

            img {
              position: relative;
              max-width: 100%;
              width: 100%;
              height: auto;
              z-index: 2;
              border-radius: 5px;
              box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
            }
          }
        }

        .quote-container {
          text-align: center;
          padding: 5%;
          background: url('../../images/pattern-quotes.svg') no-repeat center 6%;
          background-size: 20%;

          @media screen and (min-width: $small) {
            text-align: left;
            padding: 5% 0 5% 5%;
            margin-right: -10%;
            background: url('../../images/pattern-quotes.svg') no-repeat 30%
              30px;
          }

          .quote-text {
            position: relative;
            z-index: 20;
            margin-top: 20px;
            margin-bottom: 20px;
          }

          @media screen and (min-width: $small) {
            margin-top: 30px;
            margin-bottom: 30px;
          }

          .quote-cite {
            font-size: 80%;
            font-weight: 700;
            margin-bottom: 40px;

            > span {
              display: block;
            }

            @media screen and (min-width: $small) {
              font-size: 60%;
              margin-bottom: 0;
            }
          }

          .quote-occupation {
            color: $c2;
          }
        }

        .controls-container {
          position: absolute;
          bottom: 0;
          z-index: 10;
          margin-left: 12.5%;

          .next-prev {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50px;
            position: relative;
            transform: translateY(50%);
            box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);

            .next,
            .prev {
              padding: 15px 20px;

              svg {
                transform: scale(1);
                transition: transform 100ms linear;
              }

              &:hover {
                cursor: pointer;

                svg {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}
